<div class="messageNotice">
  <section class="gotMessage">
    <h1>Thanks for the Intrest!</h1>
    <p>I will try to get back to you as soon a passible.</p>
    <a href="/">back to my portfolio</a>
  </section>
</div>
