// NOTE: This file contains all the styles for the main page of my portfolio
// including repeated styles.
// TABLE OF CONTENTS:
// 1. NORMALIZE CSS
// 2. STYLE VARIABLES
// 3. REPEATED STYLES
// 4. ACTIVATED STYLES
// 5. PAGE HEADER
// 6. MAIN HERO SECTION
// 7. AUDIO SECTION
// 8. PORTFOLIO WORK SECTION
// 9. ABOUT ME SECTION
// 10. PAGE FOOTER
// 11. LOADER BOT SVG
// 12. CSS KEYFRAME ANIMATIONS
// 13. RESPONSIVE MEDIA QUERIES

//----- 1. NORMALIZE CSS -----//
*{ margin: 0px; padding: 0px; box-sizing: border-box; -moz-box-sizing: border-box; }
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a{ text-decoration: none; background-color: transparent; color: #ffffff; }

a img{  border: none; outline: none; }
img { border: 0; }

b,
strong { font-weight: bold; }
dfn { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; margin: 20px 5%; }
td,
th { padding: 0; }

//----- 2. STYLE VARIABLES -----//
// -- colors
$whiteSmoke: #F5F5F5;
$white: #ffffff;
$m_menuColor: #03394D;
$m_weather: #009688;
$defaultTextColor: #7B6F67;
//-- header colors
$headerColorGT: rgba( 12, 155, 206, 1 );
$headerColorGB: rgba( 125, 185, 232, 0 );
$headerTextColor: #C1E5F8;
//-- hero colors
$heroBorderColor: #04425A;
//-- call to action colors
$cta_btnColor: #C1272D;
$cta_btnTextColor: #E6E5E5;
//-- audio text colors
$audioH2Color: #607D8B;
$audioPColor: #ACA6A6;
//-- work colors
$workSectionColor: #03394D;
$workBorderColor: #032634;
$cardColor: #043042;
$skillTextColor: #443D38;
//-- footer colors
$footerColor: #363f45;
$subFooterColor: #191D20;
$subFooterTextColor: #7A8185;
//-- fonts
$defaultFonts:  Helvetica, 'Arial', sans-serif;
$defaultLineHeight: 1.4em;
$mainHero_h1size: 6.4em;
$fontLato: "Lato";
$fontNunito: "Nunito";

//----- 3. REPEATED STYLES -----//
body{
  line-height: $defaultLineHeight;
  font-family: $defaultFonts;
  color: $defaultTextColor;
  font-size: 16px;
}
div.content_wrapper{
  // display: none; // May be able to remove this and replace with ng-cloak
  position: relative;
  box-shadow: 2px 0px 30px rgba(0,0,0,.7);
  z-index: 1000;
}

.mobile_nav{
  display: none;
}


// -- CALL TO ACTION BTN
div.cta_btn{
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  background-color: $cta_btnColor;
  color: $cta_btnTextColor;
}
div.cta_btn:hover{ background-color: #AB2227 ; color: $white; transition: .1s; }

.small_btn{
  font-size: 18px;
  padding: 10px 30px;
}

.large_btn{
  padding: 20px 50px;
  font-size: 26px;
  font-weight: 400;
}


//----- 4. ACTIVATED STYLES -----//
.solidHeader {
  font-size: 12px;
  background-color: rgba(12, 155, 206, 0.7);
  transition: .2s;
}

.unselectable{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.ng-cloak{display: none !important;}
.noScroll{ overflow: hidden; margin: 0px; padding: 0px; }

.smallH1{ font-size: 22px; transition: .2s; }
.small{ padding: 10px 0px; transition: .2s; }

.showMenu{ animation: open .1s linear forwards; left: -260px; }

.show{ display: block !important; }
.hide{ display: none !important; }

.right{ float: right; }
.left{ float: left; }

div.form-group.has-error input,
div.form-group.has-error textarea{
    border-color: #ff5722;
}
div.help-block ul{ list-style-type: none; color: #ff5722; }

// -- Animation Classes
.top{
  animation: topRotate .6s forwards;
  -webkit-animation-name: topRotate;
  -webkit-animation-duration: .6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: topRotate .6s forwards;
  -ms-animation: topRotate .6s forwards;
  -o-animation: topRotate .6s forwards;
}
.middle{
  animation: fadeOut .2s forwards;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animtion: fadeOut .2s forwards;
  -ms-animtion: fadeOut .2s forwards;
  -o-animtion: fadeOut .2s forwards;

}
.bottom{
  animation: bottomRotate .6s forwards;
  -webkit-animation-name: bottomRotate;
  -webkit-animation-duration: .6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: bottomRotate .6s forwards;
  -ms-animation: bottomRotate .6s forwards;
  -o-animation: bottomRotate .6s forwards;
}
.backMT{
  animation: menuTopStart .6s forwards;
  -webkit-animation-name: menuTopStart;
  -webkit-animation-duration: .6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: menuTopStart .6s forwards;
  -ms-animation: menuTopStart .6s forwards;
  -o-animation: menuTopStart .6s forwards;

}
.backM{
  animation: fadeIn 1s forwards;
  -webkit-animation: fadeIn 1s forwards;
  -moz-animation: fadeIn 1s forwards;
  -ms-animation: fadeIn 1s forwards;
  -o-animation: fadeIn 1s forwards;
}
.backMB{
  animation: menuBottomStart .6s forwards;
  -webkit-animation-name: menuBottomStart;
  -webkit-animation-duration: .6s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: menuBottomStart .6s forwards;
  -ms-animation: menuBottomStart .6s forwards;
  -o-animation: menuBottomStart .6s forwards;
}

// -- contact form ** CLEAN MODAL CODE FOR FUTURE USE AND ELIMINATE UNUSABLE CODE
.modal{
  position: fixed;
  display: none;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 2000;
}
div.modal_box{
  position: relative;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
}

div.contact_ctn{
  width: 90%;
  max-width: 600px;
  padding: 30px 4%;
  margin: 0px auto;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: #f9f6f5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  fieldset{ border: none; }
  legend{
    font-size: 18px;
    line-height: 1.4em;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #607D8B;
    span{ font-size: 24px; font-weight: 900; font-family: 'Shrikhand'; letter-spacing: 2px; margin-top: 5px; }
  }
  span, label, input, textarea{ display: block; }
  label{ margin: 15px 0px 10px; }
  label, input, textarea{ text-align: left; }
  input, textarea{
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    color: #808080;
    border: solid 1px transparent;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #f5f0ee;
    font-size: 14px;
    line-height: normal;
  }
  textarea{ resize: none; height: 110px; }
  input:active,
  input:focus,
  textarea:active,
  textarea:focus{
  outline: 0;
  border: 1px solid #EAE5E2;
  background-color: white;
  }
  input:-webkit-autofill {
      border: 1px solid #F4EFEC;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: gray !important;
  }
  input[type="submit"]{
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-size: 22px;
    color: #128E5B;
    background-color: #54E4A9;
    border-bottom: 2px solid #3DA077;
    -webkit-appearance: none;
  }
  input[type="submit"]:hover{
    color: #F7FBF9;
    background-color: #20CE87;
    border-bottom: 2px solid #3DA077;
    transition: all .5s;
  }
}

.dropContact{
  animation: dropDown .3s ease forwards;
  -webkit-animation-name: dropDown;
  -webkit-animation-duration: .3s ;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: dropDown .3s  ease forwards;
  -ms-animation: dropDown .3s  ease forwards;
  -o-animation: dropDown .3s  ease forwards;
}

.upContact{
  animation: comeUp .3s ease forwards;
  -webkit-animation-name: comeUp;
  -webkit-animation-duration: .3s ;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: comeUp;
  -moz-animation: comeUp .3s  ease forwards;
  -ms-animation: comeUp .3s  ease forwards;
  -o-animation: comeUp .3s  ease forwards;
}

// -- end of contact form

//----- 5. PAGE HEADER -----//
header{
  position: fixed;
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(12, 155, 206, 0.5);
  background: -webkit-linear-gradient(top, $headerColorGT 0%, $headerColorGB 100%);
  background: -moz-linear-gradient(top, $headerColorGT 0%, $headerColorGB 100%);
  background: linear-gradient(to bottom, $headerColorGT 0%, $headerColorGB 100%);
  z-index: 2000;
  h1{
    display: inline-block;
    margin-left: 20px;
    font-weight: 100;
    color: $headerTextColor;
    float: left;
  }
  div.local_weather{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-transform: capitalize;
    text-align: center;
    font-family: "Lato";
    color: $headerTextColor;
    span{
      display: block;
    }
    span.forecast{
      font-size: 10px;
      display: none;
    }
  }
  nav{
    float: right;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
  }
  nav ul li{
    display: inline;
    margin-right: 10px;
    cursor: pointer;
  }
  nav ul li a{ color: $headerTextColor; }
  nav ul li a:hover, h1:hover{
    transition: .2s;
    color: $white;
  }
  .main_hamIcon{ display: none; }
}

//----- 6. MAIN HERO SECTION -----//
section#mainHero{
  position: relative;
  width: 100%;
  border-bottom: 20px solid $heroBorderColor;
  background-color: $m_menuColor;
  h1.greet_ms{
      position: absolute;
      overflow: hidden;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      font-size: $mainHero_h1size;
      font-family: $fontLato;
      text-transform: uppercase;
      line-height: 1.2em;
      font-weight: 900;
      color: $white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
      span.greet{
        position: relative;
      }
      span.greet_int{
        position: relative;
        animation: fadeOut 5s linear forwards;
        -webkit-animation-name: fadeOut;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation: fadeOut 5s linear forwards;
        -ms-animation: fadeOut 5s linear forwards;
        -o-animation: fadeOut 5s linear forwards;
      }
      span.greet_anime{
        position: absolute;
        top: 0px;
        right: 0px;
      }
      span.city{
        font-weight: 300;
      }
      .animeGreet{
        animation: greetThem 5s linear infinite;
        -webkit-animation-name: greetThem;
        -webkit-animation-duration: 5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation: greetThem 5s linear forwards;
        -ms-animation: greetThem 5s linear forwards;
        -o-animation: greetThem 5s linear forwards;
      }
  }

  .greetingView img.citySkyline{ width: 100%; display: block; }

  div.clouds {
      position: absolute;
      width: 100%;
      top: 12%;
      div.cloud_foreFront, div.cloud_backGround{ position: relative; width: 90%; margin: 0px auto; }
      div.cloud_foreFront img{
          position: relative;
          width: 8%;
          top: -20px;
      }
      div.cloud_foreFront img:nth-child(1){ left: 10%; }
      div.cloud_foreFront img:nth-child(2){ left: 20%; }
      div.cloud_foreFront img:nth-child(3){ left: 40%; }
      div.cloud_foreFront img:nth-child(4){ left: 60%; }

      div.cloud_backGround img{
          position: relative;
          width: 6%;
      }
      div.cloud_backGround img:nth-child(1){ left: 5%; top: 15px; }
      div.cloud_backGround img:nth-child(2){ left: 16%; }
      div.cloud_backGround img:nth-child(3){ left: 30%; }
      div.cloud_backGround img:nth-child(4){ left: 48%; top: 10px; }
  }

  // -- BLUE OVERLAY ON MAIN HERO
  .colorOverlay{
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    opacity: 0.1;
    background-color: #142f44;
  }
}

//----- 7. AUDIO SECTION -----//
section#ct_audio{
    width: 100%;
    padding: 60px 0px;
    background: $whiteSmoke;
    text-align: center;
    h2{
      font-size: 3.4em;
      line-height: $defaultLineHeight;
      margin: 0px 0px 20px;
      text-transform: uppercase;;
      color: $audioH2Color;
    }
    p{
      color: $audioPColor;
    }
}

// -- AUDIO PLAYER STYLES --stand along styles--

div.playerContainer{
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 370px;
  margin: 20px auto;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 0px .5px 2px black;
  div.imageDisplay{
    width: inherit;
    height: 205px;
    background-color: #CCCCCC;
    background: url('/defaultImage.jpg') no-repeat -15px 0px;
    background-size: cover;
    .hamIcon{
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 10px;
      right: 10px;
      top: 10px;
    }
    .hamIcon div{
      position: relative;
      background-color: #989DA0;
      width: inherit;
      height: 2px;
      margin-bottom: 2px;
      border-radius: 2px;
    }
    .shadow{
      width: inherit;
      height: 205px;
      background: url('/gloss.png')
    }
  }

  div.audioPlaylist{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #363F45;
    box-shadow: 0px 0px 3px #000;
    z-index: 1000;
    border-radius: 5px;

    .nowPlaying{
      position: relative;
      width: inherit;
      height: 150px;
      padding: 5px 10px;
      background: url("defaultImage.jpg") no-repeat;
      background-size: cover;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 10px;
      color: #fff;
      text-shadow: 0px 1px 3px #000206;
      h2,p{
        margin: 5px 0px;
        position: relative;
        z-index: 100;
      }
      p.duration{
        position: absolute;
        bottom: 5px;
        right: 10px;
      }
      .arrow{
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        border-top: 2px solid #A6AAAD;
        border-left: 2px solid #B5B7B9;
        transform: rotate(-45deg);
        z-index: 1000;
      }
      .listShadow{
        position: absolute;
        top: 0px;
        left: 0px;
        width: inherit;
        height: inherit;
        background-color: rgba(0,0,0,.5);
      }
    }

    div.songList{
      ol {
        list-style-type: none;
        margin: 0px;
        padding: 10px;
        width: inherit;
        height: 220px;
        overflow-y: scroll;
      }
      ol > li {
        counter-increment: customlistcounter;
        padding: 10px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: #fff;
        border-bottom: 1px solid #4A575E;
      }
      ol > li:hover {
        background-color: #4A575E;
      }
      ol > li:before {
        content: counter(customlistcounter) " ";
        padding: 10px 10px 10px 5px;
        color: #4A575E;
      }
      ol:first-child {
        counter-reset: customlistcounter;
      }
      .listActive{
        background-color: #5A6971;
      }
    }
  }

  div.controlsContainer{
    position: relative;
    width: inherit;
    height: 165px;
    background-color: #363F45;
    div.topControls{
      .shuffle{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 20px;
        height: 20px;
        background: url("/shuffle.png") no-repeat 0px 0px;
        background-size: contain;
        cursor: pointer;
        transition: .2s;
      }
      .shuffleActive{
        background: url("/shuffleActive.png") no-repeat 0px 0px;
        background-size: contain;
        transition: .2s;
      }

      div#progressMeter{
        position: relative;
        display: inline-block;
        width: 220px;
        height: 10px;
        top: 10px;
        // left: 45px; THIS CAN BE DELETED AFTER I CHECK THE AUDIO JS
        #progressBar{
          position: relative;
          width: 220px;
          height: 1px;
          top: 5px;
          background-color: whitesmoke;
        }
        #thumbScrubber{
          position: absolute;
          top: 0px;
          width: 10px;
          height: 10px;
          background-color: white;
          border-radius: 10px;
        }
        #thumbScrubber:hover{
          top: 0px;
          transform: scale(1.5,1.5);
          transition: .1s;
        }
        .largeScrubber{
          top: 0px;
          transform: scale(1.5,1.5);
          transition: .1s;
        }
        #currentTime, #totalTime{ position: absolute; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: white; opacity: 1; }
        #currentTime{
          left: -10px;
          top: 20px;
        }
        #totalTime{
          right: -10px;
          top: 20px;
        }

      }

      div.loop{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        background: url("/loop.png") no-repeat 0px 0px;
        background-size: contain;
        cursor: pointer;
        transition: .2s;
      }
      .loopActive{
        background: url("/loopActive.png") no-repeat 0px 0px;
        background-size: contain;
        transition: .2s;
      }
    }

    div.descriptionCtn{
      position: relative;
      top: 20px;
      margin: 0px auto;
      overflow: hidden;
      width: 115px;
      height: 20px;
      .songDescription{
        position: absolute;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: white;
        text-align: center;
        white-space: nowrap;
        display: inline;
        padding-right: 15px;
        line-height: 22px;
      }
      .songDescription:nth-child(1){
        transform: translateX(0%);
      }
      .songDescription:nth-child(2){
        transform: translateX(100%);
      }
      .marquee{
        animation: marquee 10s ease infinite;
        -webkit-animation: marquee 10s ease infinite;
      }
      .marqueetwo{
        animation: marqueetwo 10s ease infinite;
        -webkit-animation: marqueetwo 10s ease infinite;
      }
    }

    div.playPause{
      position: absolute;
      width: 50%;
      height: 70px;
      left: 25%;
      bottom: 30px;
      .prev, .next{position: absolute; width: 50px; height: 50px; z-index: 1; cursor: pointer;}
      .prev{
        background: url("/back.png") no-repeat 0px 0px;
        background-size: contain;
        top: 10px;
      }
      .next{
        background: url("/forward.png") no-repeat 0px 0px;
        background-size: contain;
        top: 10px;
        right: 0px;
      }
      .play_pause{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 50%;
        transform: translate(-50%, 0px);
        -webkit-transform: translate(-50%, 0px);
        background: url("/play.png") no-repeat 0px 0px;
        background-size: contain;
        z-index: 3;
        cursor: pointer;
      }
      .pause{
        background: url("/pause.png") no-repeat 0px 0px;
        background-size: contain;
      }
    }
  }
}

//----- 8. PORTFOLIO WORK SECTION -----//
section#portfoliWork{
  width: 100%;
  padding-bottom: 60px;
  background-color: $workSectionColor;

  div.cta_container::before,
  div.cta_container::after{
    content: "";
    display: table;
  }

  div.cta_container::before,
  div.cta_container::after{
    clear: both;
  }

  div.cta_container{
    clear: both;
    *zoom: 1;
    width: 100%;
    background-color: $workBorderColor;
    padding: 10px 0px;
  }

// -- CALL TO ACTION BTN
  div.cta_btn{
    margin-left: 30px;
  }

// -- SWITCH

  .switch {
    position: relative;
    margin-right: 30px;
    height: 26px;
    width: 120px;
    top: 7px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  }

  .switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 26px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }

  .switch-label-off {
    padding-left: 2px;
  }

  .switch-label-on {
    padding-left: 3px;
  }

  .switch-input {
    display: none;
  }

  .switch-input:checked + .switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
  }

  .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 60px;
  }

  .switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 22px;
    background: #65bd63;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
    background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
    background-image: -o-linear-gradient(top, #9dd993, #65bd63);
    background-image: linear-gradient(to bottom, #9dd993, #65bd63);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
  }

// -- WORK CARDS

  article.myWork{
    width: 100%;

    h2{
      margin: 20px 20px 40px;
      font-family: "Lato";
      font-weight: normal;
      line-height: 1.4em;
      text-transform: capitalize;;
      color: #475960;
    }

    div.card_ctn{
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      margin: 0px auto;

      div.single_card{
        position: relative;
        width: 23.5%;
        margin: 0 2% 25px 0;
        background-color: $cardColor;
        border: 5px solid $cardColor;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.28);
        -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.28);

        div.card_image{
          width: 100%;
          height: 170px;
          background-color: $whiteSmoke;
          img{
            display: block;
            width: 100%;
            height: inherit;
          }
        }

        div.card_meta{
          position: relative;
          font-size: 0.85em;
          white-space: nowrap;
          padding: 15px 10px;
          background-color: $cardColor;
          -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.25);
          box-shadow: 0 0 2px rgba(0,0,0,0.25);
        }
      }
      div.single_card:nth-child(4n){ margin-right: 0px; }
    }
  }
}

//----- 9. ABOUT ME SECTION -----//
section#about_me{
  width: 100%;
  background-color: $white;

  article.myStory::before,
  article.myStory::after{
    content: "";
    display: table;
  }
  article.myStory::before,
  article.myStory::after{
    clear: both;
  }
  article.myStory{
    clear: both;
    *zoom: 1;
    padding: 60px 0px;
    font-family: $fontLato;

    h2{
      display: inline-block;
      margin: 30px 30px 30px 10%;
      font-size: 2.5em;
      font-weight: normal;
      line-height: 1.2em;
      text-shadow: 1px 2px 2px rgba(0,0,0, .2);
    }
    p.elevatorPitch{
      display: block;
      width: 40%;
      margin-left: 10%;
      font-weight: lighter;
      line-height: 1.4em;
      font-size: 18px;
    }
    img{
      width: 30%;
      min-width: 230px;
      margin: 20px 10% 20px 0px;
    }
  }
  article.mySkill{
    width: 100%;
    text-align: center;
    h2{
      padding: 20px 0px;
      font-size: 3em;
      font-weight: 600;
      line-height: 1.2em;
      font-family: $fontNunito, $fontLato, Helvetica;
      text-shadow: 1px 2px 2px rgba(0,0,0, .2);
    }
    div.skillsMarquee{
      width: inherit;
      padding: 60px 0px 40px;
      border-top: 1px solid #B8BBC0;
      background-color: $whiteSmoke;
      ul.skillList{
        line-height: 1.2em;
        font-size: 48px;
        font-family: $fontLato, Helvetica, sans-serif;
        font-weight: 900;
        cursor: pointer;
        color: $skillTextColor;
        li{
          display: inline-block;
          padding: 20px;
          border-radius: 5px;
          background-color: #777E82;
          margin: 0px 1% 20px 0px;
        }
        li:nth-child(1){ background-color: #FFEB3B;}
        li:nth-child(2){ background-color: #F78218;}
        li:nth-child(3){ background-color: #069ACE;}
        li:nth-child(4){ background-color: #F44336;}
        li:nth-child(5){ background-color: #069ACE;}
        li:nth-child(6){ background-color: #F78218;}
      }
      ul.skillList li:hover{ color: $white; transition: .2s; }
    }
  }
}

//----- 10. PAGE FOOTER -----//
footer#pageFooter{
  width: 100%;
  padding: 60px;
  background-color: $footerColor;
  text-align: center;
  h2{
    padding: 20px 0px;
    font-size: 28px;
    line-height: 1.2em;
    font-family: $fontNunito, $fontLato, Helvetica;
    color: $white;
  }
  ul{
    padding: 20px 0px;
    li{
      display: inline;
      margin: 0px 1% 0px 0px;
      img{ width: 100px; }
     }
    li:nth-child(4n){ margin-right: 0px; }
  }
  div.cta_btn{
    margin: 20px 0px;
  }
}

// -- SUB FOOTER COPYRIGHT
div.subFooter{
  width: 100%;
  padding: 25px 0px;
  background-color: $subFooterColor;
  text-align: center;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 100;
  font-size: 16px;
  color: $subFooterTextColor;
  a{ color: $subFooterTextColor; }
  a span:hover{ color: $white; transition: .1s; }
}

//----- 11. LOADER BOT SVG -----//
.loader_ctn{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background-color: $white;
  z-index: 1000;
  overflow: hidden;
  .loaderBot{
    position: absolute;
    width: 300px;
    height: 330px;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -150px;
    .bot{
      position: absolute;
      animation: bounce 1.8s ease infinite;
      -webkit-animation-name: bounce;
      -webkit-animation-duration: 1.8s;
      -webkit-animation-timing-function: ease;
      -webkit-animation-fill-mode: forwards;
      -moz-animation: bounce 1.8s ease forwards;
      -ms-animation: bounce 1.8s ease forwards;
      -o-animation: bounce 1.8s ease forwards;
    }
    .ring{
      transform-origin: 180px 300px;
      -webkit-transform-origion: 180px 300px;
      animation: floatEffect 1.8s linear infinite;
      -webkit-animation-name: floatEffect;
      -webkit-animation-duration: 1.8s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-fill-mode: infinite;
      -moz-animation: floatEffect 1.8s linear infinite;
      -ms-animation: floatEffect 1.8s linear infinite;
      -o-animation: floatEffect 1.8s linear infinite;
    }
    .ringLast{
      opacity: 0;
      transform-origin: 180px 300px;
      -webkit-transform-origion: 180px 300px;
      animation: floatEffect 1.8s linear infinite;
      animation-delay: .5s;
      -webkit-animation-name: floatEffect;
      -webkit-animation-duration: 1.8s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-fill-mode: infinite;
      -webkit-animation-delay: .5s;
      -moz-animation: floatEffect 1.8s linear infinite;
      -ms-animation: floatEffect 1.8s linear infinite;
      -o-animation: floatEffect 1.8s linear infinite;
    }
    .shadow{
      position: absolute;
      bottom: 0px;
      left: 102px;
      width: 100px;
      height: 16px;
      background-color: #999;
      opacity: .1;
      border-radius: 100%;
      animation: shrinkShadow 1.8s ease infinite;
      -webkit-animation-name: shrinkShadow;
      -webkit-animation-duration: 1.8s;
      -webkit-animation-timing-function: ease;
      -webkit-animation-fill-mode: infinite;
      -moz-animation: shrinkShadow 1.8s ease infinite;
      -ms-animation: shrinkShadow 1.8s ease infinite;
      -o-animation: shrinkShadow 1.8s ease infinite;
    }
  }
}

//----- 12. CSS KEYFRAME ANIMATIONS -----//

@keyframes fadeOut{
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}
@-webkit-keyframes fadeOut{
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn{
    0%{ opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn{
    0%{ opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes open{
    0%{ left: 0px; }
    100%{ left: -260px; }
}

@keyframes dropDown{
    0%{ transform: translate(0,-100px); opacity: 0; }
    100%{ transform: translate(0,20px); opacity: 1; }
}

// @-webkit-keyframes dropDown{
//     0%{ top: -100px; opacity: 0; }
//     100%{ top: 50%; opacity: 1; }
// }

@keyframes comeUp{
    0%{ top: 50%; opacity: 1; }
    100%{ top: -100%; opacity: 0; }
}

@-webkit-keyframes comeUp{
    0%{ top: 50%; opacity: 1; }
    100%{ top: -100%; opacity: 0; }
}


@keyframes greetThem{
    0%{ top: -100%; opacity: 1; }
    30%{ top: 0px; opacity: 1; }
    50%{ top: 0px; opacity: 1; }
    70%{ top: 0px; opacity: 1; }
    80%{ top: 0px; opacity: 0; }
    100%{ top: 0px; opacity: 0; }
}

@keyframes floatEffect{
    0% { transform: scale(1); opacity: 1; }
    40%{ opacity: 1; }
    50% { transform: scale(0); opacity: 0; }
    100% { transform: scale(0); opacity: 0; }
}
@-webkit-keyframes floatEffect{
    0% { -webkit-transform: scale(1); opacity: 1; }
    40%{ opacity: 1; }
    50% { -webkit-transform: scale(0); opacity: 0; }
    100% { -webkit-transform: scale(0); opacity: 0; }
}

@keyframes bounce{
    0%{ top: 0px }
    50%{ top: 15px }
    100%{ top: 0px }
}
@-webkit-keyframes bounce{
    0%{ top: 0px }
    50%{ top: 15px }
    100%{ top: 0px }
}


@keyframes shrinkShadow{
    0%{ transform: scale(1); opacity: 0.1; }
    50%{ transform: scale(.5); opacity: 0.4; }
    100%{ transform: scale(1); opacity: 0.1; }
}
@-webkit-keyframes shrinkShadow{
    0%{ -webkit-transform: scale(1); opacity: 0.1; }
    50%{ -webkit-transform: scale(.5); opacity: 0.4; }
    100%{ -webkit-transform: scale(1); opacity: 0.1; }
}


@keyframes marquee {
    0%{ transform: translateX(0%); }
    20%{ transform: translateX(0%); }
    40%{ transform: translateX(0%); }
    100%{ transform: translateX(-100%); }
}

@keyframes marqueetwo {
    0%{ transform: translateX(100%); }
    20%{ transform: translateX(100%); }
    40%{ transform: translateX(100%); }
    100%{ transform: translateX(0%); }
}

@keyframes topRotate{
    70%{ transform: translatey(7px); }
    100%{ transform: translatey(7px) rotate(45deg); }
}
@-webkit-keyframes topRotate{
    70%{ transform: translatey(7px); -webkit-transform: translatey(7px);}
    100%{ transform: translatey(7px) rotate(45deg); -webkit-transform: translatey(7px) rotate(45deg);}
}

@keyframes bottomRotate{
    70%{ transform: translatey(-8px); }
    100%{ transform: translatey(-8px) rotate(-45deg); }
}
@-webkit-keyframes bottomRotate{
    70%{ transform: translatey(-8px); -webkit-transform: translatey(-8px);}
    100%{ transform: translatey(-8px) rotate(-45deg); -webkit-transform: translatey(-8px) rotate(-45deg);}
}

@keyframes menuTopStart{
    0%{ transform: translatey(7px) rotate(-45deg); }
    60%{ transform: translatey(7px) rotate(0deg); }
    100%{ transform: translatey(0px) rotate(0deg); }
}
@-webkit-keyframes menuTopStart{
    0%{ transform: translatey(14px) rotate(-45deg); -webkit-transform: translatey(14px) rotate(-45deg);}
    60%{ transform: translatey(14px) rotate(0deg); -webkit-transform: translatey(14px) rotate(0deg);}
    100%{ transform: translatey(0px) rotate(0deg); -webkit-transform: translatey(0px) rotate(0deg);}
}

@keyframes menuBottomStart{
    0%{ transform: translatey(-7px) rotate(45deg); }
    60%{ transform: translatey(-7px) rotate(0deg); }
    100%{ transform: translatey(0px); }
}
@-webkit-keyframes menuBottomStart{
    0%{ transform: translatey(-6px) rotate(45deg); -webkit-transform: translatey(-6px) rotate(45deg); }
    60%{ transform: translatey(-6px) rotate(0deg); -webkit-transform: translatey(-6px) rotate(0deg); }
    100%{ transform: translatey(0px); -webkit-transform: translatey(0px);}
}

//----- 13. MEDIA QUERIES -----//

/* 4k HD */
@media (min-width: 1200px){}

/* tablet */
@media only screen and (max-width: 800px){
  header{
    h1{
      font-size: 22px;
    }
    nav{
      font-size: 12px;
    }
  }

  section#mainHero{
    h1.greet_ms{
      font-size: 3.4em;
    }
  }

  section#ct_audio{
    h2{ font-size: 3em; }
  }

  section#portfoliWork{

    article.myWork{

      div.card_ctn{

        div.single_card{
          width: 32%;
        }
        div.single_card:nth-child(3n){ margin-right: 0px; }

        div.single_card:nth-child(4n){ margin-right: 2%; }
      }
    }

  }

  section#about_me{

    article.myStory{
      h2{
        margin: 30px 30px 30px 5%;
      }
      p.elevatorPitch{
        width: 50%;
        margin-left: 5%;
        font-size: 16px;
      }
      img{
        margin-right: 5%;
      }
    }

    article.mySkill{
      h2{
        font-size: 2.8em;
      }
      div.skillsMarquee{
        ul.skillList{
          font-size: 34px;
          li{
            padding: 15px;
          }
        }
      }
    }

  }

  footer#pageFooter{
    h2{
      font-size: 24px
    }
    ul.socialMedia{
      img{
        width: 90px;
      }
    }
    div.large_btn{
      padding: 15px 35px;
      font-size: 24px;
    }
  }

  div.contact_ctn{
    width: 70%;
    padding: 25px 4%;
  }

}

/* phablet */
@media only screen and (max-width: 600px){
  header{
    h1{
      font-size: 22px;
    }
    nav, div.local_weather{ display: none; }
    div.mobile_nav{
      position: absolute;
      nav{
        font-size: 12px;
      }
    }

    .main_hamIcon{
      position: relative;
      display: inline-block;
      margin-right: 20px;
      margin-top: 3px;
      cursor: pointer;
    }
    .line1,
    .line2,
    .line3{
      width: 25px;
      height: 3px;
      margin-bottom: 4px;
      border-radius: 10px;
      background-color: #C1E5F8;
    }
    div.line3:nth-child(3){ margin-bottom: 0px; }
  }

  div.mobile_nav{
    position: fixed;
    width: 260px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: $m_menuColor;
    color: $white;
    div.m_weather::before,
    div.m_weather::after{
      content: "";
      display: table;
    }
    div.m_weather::before,
    div.m_weather::after{
      clear: both;
    }
    div.m_weather{
      clear: both;
      *zoom: 1;
      padding: 15px;
      font-family: $defaultFonts;
      font-size: 20px;
      font-weight: 100;
      line-height: 1em;
      background-color: $m_weather;
      box-shadow: inset 0px 0px 20px rgba(34, 87, 82, .5);
      border-bottom: 1px solid #02364A;
      text-shadow: 0px 0px 1px rgba(255,255,255, .2);
      div.w_city{
        display: inline-block;
        text-transform: capitalize;
        span{ display: block; }
        span.forecast{ font-weight: 100; font-size: 10px; }
      }
      div.temp{
        display: inline-block;
        float: right;
        font-size: 34px;
        line-height: 1em;
        font-family: $fontLato;
      }
    }
    nav.m_navigation ul li,
    nav.m_navigation a{
      display: block;
    }
    nav.m_navigation ul li{
      border-bottom: 1px solid #083547;
      border-right: 10px solid #032634;
    }
    nav.m_navigation ul li:hover{
      border-right: 10px solid #F78218;
      transition: .5s;
    }
    nav.m_navigation a{
      padding: 15px;
      text-transform: uppercase;
    }
    nav.m_navigation a:hover{
      position: relative;
      left: 10px;
      transition: .5s;
    }

  }

  section#mainHero{
    h1.greet_ms{
      font-size: 2.6em;
    }
  }

  section#ct_audio{
    padding: 0px 0px 40px;
    h2{
      font-size: 2em;
      padding: 20px 0px;
      margin-bottom: 40px;
      background-color: #043042;
    }
  }

  section#portfoliWork{
    div.cta_container{
      div.cta_btn{ margin-left: 20px; }
      div.switch{ margin-right: 20px; }
    }
    article.myWork{
      div.card_ctn{
        display: block;
        flex-wrap: nowrap;
        width: 90%;
        div.single_card{ width: 100%; margin-right: 0px; }
      }
    }
  }
  // extra styles
  .small_btn{
    font-size: 16px;
    padding: 10px 25px;
  }

  section#about_me{
    article.myStory{
      text-align: center;
      h2{ margin: 20px 0px 30px; display: block; }
      img{
        float: none;
        margin: 0px 0px 20px;
      }
      p.elevatorPitch{ width: 90%; margin: 0px auto; }
    }
    article.mySkill{
      div.skillsMarquee{
        padding-top: 50px;
        ul.skillList{
          margin: 0px 10px;
          li{ display: block; margin: 0px 0px 10px; }
        }
      }
    }
  }

  footer#pageFooter{
    padding: 60px 20px;
    ul.socialMedia li{
      img{ width: 80px; }
    }
  }

  div.contact_ctn{
    width: 85%;
    font-size: 12px;
  }

}

/* mobile */
@media only screen and (max-width: 400px){

  header{
    h1{ font-size: 20px; }
  }

  section#mainHero{
    height: 300px;
    background: url('/citybackground.svg') -158px 0px no-repeat;
    background-size: cover;
    article.greetingView{
      h1.greet_ms{
        font-size: 2.2em;
      }
      img.citySkyline{ display: none; }
    }

  }

  section#ct_audio h2 {
    font-size: 1.8em;
  }

  .small_btn {
    font-size: 14px;
    padding: 8px 20px;
  }

  footer#pageFooter{
    padding: 40px 20px;
    ul.socialMedia li{
      display: block;
      margin: 0px 0px 15px;
      img{ width: 90px; }
    }
    div.cta_btn{
      margin: 0px 0px 20px;
    }
  }

  div.subFooter{ font-size: 14px; }

  div.contact_ctn{
    width: 90%;
    font-size: 10px;
    legend{
      font-size: 14px;
      margin-bottom: 10px;
      span{ font-size: 18px; margin-bottom: 0px; }
    }
    label{ margin-bottom: 5px; }
    input, textarea{ margin-bottom: 10px; font-size: 10px; }
    textarea{ height: 70px; }
    input[type="submit"]{ font-size: 14px; padding: 8px;}
  }

}
