@keyframes cloudRight{
  0%{left: 0%;}

  100%{left: 100%;}
}

@keyframes waveboats{
  0% {
    transform: translateY(-10px) rotate(-2deg);

  }
  50% {
    transform: translateY(-5px) rotate(4deg);

  }
  100% {
    transform: translateY(-10px) rotate(-2deg);

  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 800;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dashoffset: -800;
  }

}
