@media only screen and (max-width: 900px){
  #cityview_intro{
    height: 500px;
    .boatblue{
      left: 150px;
      bottom: 80px;
    }
    .boatred{
      right: 150px;
      bottom: 50px;
    }
  }
}

@media only screen and (max-width: 550px){
  #cityview_intro{
    height: 500px;
    .boatblue{
      left: 70px;
      bottom: 80px;
    }
    .boatred{
      right: 70px;
      bottom: 50px;
    }
  }
}

@media only screen and (max-width: 400px){
  #cityview_intro{
    height: 500px;
    .boatblue{
      left: 30px;
      bottom: 80px;
    }
    .boatred{
      right: 30px;
      bottom: 50px;
    }
  }
}
