<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Web Developer and Graphic Artist for hire. I develop web applications using HTML5, CSS3 and Javascript.">
  <meta name="keywords" content="Developer, Designer, web, web development, Graphics, Illustrations, Internet, Chicago, HTML, CSS, JavaScript, jquery, Ruby, Rails">
  <meta name="author" content="rtindesings">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rodrigo Torres Portfolio. Web Developer and Designer living in Chicago</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-74242815-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
  <body id="rodrigo-top" ng-controller="PortfolioController">


      <%= yield %>

      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  </body>
</html>
